@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --bg-color: #111;
    --snd-bg-color: #111;
    --text-color:#E2DFD0;
    --main-color: #F2613F;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg-color);

}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 50vh;
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
}
.card {
    background: var(--bg-color);
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border-color: #F2613F;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    overflow: hidden;
    margin-top: 40px;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card p {
    margin-top: 10px;
    color: var(--text-color);
    font-size: 0.9rem;
}
.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 0.6rem 0.6rem;
    background: transparent;
    text-decoration: none;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.5sease;
    border-radius: 1rem;
}
.card a:hover {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 18px var(--main-color);
}

.card-body h5{
    font-size: 1.5rem;
}

.card-title{
    color: var(--text-color);
}

.head{
    color: var(--text-color);
    text-align: center;
    margin-top: 5rem;
    font-family:  "Audiowide", sans-serif;
    font-size: 2rem;
}

/* Popup Styling */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: rgba(87, 86, 86, 0.5);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
}

.start-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.start-btn:hover {
    background-color: #218838;
}

.popup-content img{
    width: 250px;
    height: 250px;
    margin-left: 300px;
}