<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Trainer</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            
        }
        #stage-container {
            margin-top: 20px;
            font-size: 24px;
            font-weight: bold;
            color: blue;
        }
    </style> -->
</head>
<body>
    <h2>Crunches Detecter</h2>

    <!-- Video Stream -->
     <div class="container">
        <div class="image-box">
            <span class="fit-pro-text left-text">FIT</span>
            <img src="{{ url_for('crunches_feed') }}" width="700px" class="video-stream" >
            <span class="fit-pro-text right-text">PRO</span>
    </div>
    </div>
    <!-- Counter & Stage Info -->
     
    <div id="stage-container">
        <p>Stage: <span id="crunches-stage">Waiting...</span></p>
        <!-- <p>Right Leg: <span id="right-stage">Waiting...</span></p>
        <p>Left Count: <span id="left-count">0</span></p> -->
        <p>Count: <span id="crunches-count">0</span></p>
    </div>

    <!-- Start & Stop Counter -->
    <button onclick="toggleCounter()">Start/Stop Counter</button>

    <!-- Link to External JavaScript -->
    <script src="{{ url_for('static', filename='crunches.js') }}"></script>
</body>
</html>
